{% extends 'base.html.twig' %}
{% block titulo %}
  Consultar Reserva Por Cliente
{% endblock %}

{% block contenido %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <form id="formulario_consulta" class="form-horizontal" method="post" action="{{path('detalleReservasDelCliente')}}">
          <fieldset>
            <legend class="text-center display-4">Consultar Reservas</legend>

            <div class="form-group bg-light ">
              <!-- cargo dni, automaticamente deberia traer toda la informacion del cliente-->
              <h5 class="text-center display-5 py-1">Datos Cliente</h5>
              <span class="col-md-1 col-md-offset-2 text-center">
                <i class="fa fa-user bigicon"></i>
              </span>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="fname" name="number" type="text" placeholder="Dni" class="form-control Required">
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="fname" name="text" type="text" placeholder="Nombre" class="form-control Required">
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="fname" name="text" type="text" placeholder="Apellido" class="form-control Required">
              </div>

              <div class="input-group mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 py-2">
                <div class="input-group-prepend ">
                  <label class="input-group-text " for="inputGroupSelect01">Cancha</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <!--<option selected>Seleccionar</option>-->
                  <option value="1">Chica</option>
                  <option value="2">Mediana</option>
                  <option value="3">Grande</option>
                  <option value="4">Todas</option>
                </select>
              </div>

              <h5 class="text-center display-5 py-2 ">
                Fecha Desde:</h5>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="fname" name="text" type="date" placeholder="Apellido" class="form-control col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2 Required">
                <h5 class="text-center display-5 py-2 ">
                  Fecha Hasta:</h5>
                <input id="fname" name="text" type="date" placeholder="Apellido" class="form-control col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2 Required">

              </div>

            </div>

            <div class="btn-group col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-secondary">Buscar</button>

            </div>

          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>

{% endblock %}
