{% extends 'base.html.twig' %}
{% block titulo %}
  Consultar Usuario
{% endblock %}
{% block contenido %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <form id="formulario_usuario" class="form-horizontal" method="POST">
          <fieldset>
            <legend class="text-center display-4">Consultar Usuario</legend>

            <div class="form-group bg-light ">
              <span class="col-md-1 col-md-offset-2 text-center">
                <i class="fa fa-user bigicon"></i>
              </span>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="dni" name="dni" type="number" placeholder="Dni" class="form-control" required="Required">
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control Required">
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="apellido" name="apellido" type="text" placeholder="Apellido" class="form-control Required">
              </div>

              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="password" name="password" type="Password" placeholder="Contraseña" class="form-control Required">
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2">
                <input id="cpassword" name="cpassword" type="Password" placeholder="Confirmar Contraseña" class="form-control Required">
              </div>

              <div class="btn-group  col-sm-12 col-md-12 col-lg-12 col-xl-12 py-2" role="group" aria-label="Basic example">

                <button name="modificar" type="submit" class="btn btn-secondary">Modificar</button>
                <button name="eliminar" type="submit" class="btn btn-secondary">Eliminar</button>
                <button name="buscar" type="submit" class="btn btn-secondary">Buscar</button>
                <button type="button" class="btn btn-secondary">Guardar</button>
              </div>

            </div>
          </div>
        </div>

      </div>

    </fieldset>
  </form>

</div>
</div>
</div>
{% endblock %}
