{% extends 'base.html.twig' %}

{% block titulo %}
  Registro usuario
{% endblock %}

{% block contenido %}
<div class="container">
<h1 class="mt-4 mb-3">Nuevo Usuario
  <small>Nuevo Usuario</small>
</h1>

<!-- Intro Content -->
<div class="row">
  <div class="col-lg-6">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
  </div>
  <div class="col-lg-6">
    <h2>¿Para qué Registrarse?</h2>
    <p>Con el registro del usuario se podra realizar reservas para nuestro restaurante de una forma rapida y sencilla.</p>
    <p>Mediante la introduccion del correo electrónico y la contraseña, podras realizar una nueva reserva de mesa o anulacion de esta</p>
  </div>
</div>
<!-- /.row -->
</div>
{% endblock %}
