{% extends 'base.html.twig' %}


  {% block titulo %}
    Home Page
  {% endblock %}

  {% block contenido %}
    <div class="container">

      {% if  app.user %}

        <div class="col-lg-6">
          <h2> Estas logueado</h2>

        </div>
        {% endif %} 
        {% if  not app.user %}

        <div class="col-lg-6">
          <h2> sitio en construccion</h2>

        </div>
        {% endif %} 
      </div>
      <!-- /.row -->
    </div>
  {% endblock %}
