{% extends 'base.html.twig' %}
{% form_theme form 'form/usuarioForm.html.twig' %}
  {% block titulo %}
      Nuevo Usuario
  {% endblock %}

  {% block contenido %}
  <div class="container">
      <h1 class="text-center display-4">
        Nuevo Usuario
      </h1>
    <div class="row">
      <div class="col-md-8">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
  {% endblock %}
